<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DashboardMapper">
	<!-- 审核组查询 -->
	<select id="getAudit" parameterType="String" resultType="String">
		SELECT GROUP_CONCAT(a.usergroup_id) FROM `t_usergroup_user_map` a
		inner join t_usergroup b on b.id=a.usergroup_id
		inner JOIN sys_role c on b.ROLE_ID=c.ROLE_ID and c.type='audit'
		where a.USER_ID=#{applyUserId}
	</select>
	
	<!-- 虚机总量查询 -->
	<select id="getVirNum" parameterType="pd" resultType="Long">
		select count(1) from t_virtualmachine
		<if test="(audit == null or audit == '') and applyUserId != null and applyUserId != ''">
		where exists (select 1 from cmp_workorder b where a.appNo=b.appNo and b.applyUserId=#{applyUserId})
		</if>
		<if test="audit != null and audit != ''">
		where exists (select 1 from cmp_workorder b where a.appNo in(
		SELECT b.BUSINESS_KEY_ FROM `act_hi_actinst` a
		INNER JOIN act_hi_procinst b on a.PROC_INST_ID_=b.PROC_INST_ID_
		where a.ASSIGNEE_ in (select c.USER_ID from t_usergroup_user_map c where FIND_IN_SET(c.usergroup_id, #{audit}))))
		</if>
	</select>
	
	<!-- 宿主机总量 -->
	<select id="getHostNum" parameterType="pd" resultType="Long">
		select count(1) from t_hostmachine where type!='kvm'
	</select>
	
	<!-- 物理机总量 -->
	<select id="getPhysNum" parameterType="pd" resultType="Long">
		select count(1) from t_hostmachine where type='kvm'
	</select>
	
	<!-- 用户总数 -->
	<select id="getUserNum" parameterType="pd" resultType="Long">
		select count(1) from sys_user
	</select>
	
	<!-- 项目总数 -->
	<select id="getProjNum" parameterType="pd" resultType="Long">
		select count(1) from t_project
	</select>
	
	<!-- 工单总数 -->
	<select id="getWorkOrderNum" parameterType="pd" resultType="Long">
		select count(1) from cmp_workorder
	</select>
</mapper>