<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CloudHostMapper">
	
	<select id="listPage" parameterType="page" resultType="pd">
		SELECT
			vm.id AS id,
			vm.name AS name,
			vm.ip AS ip,
			vm.cpu AS cpu,
			vm.memory AS memory,
			vm.datadisk AS datadisk,
			vm.os AS os,
			vm.status AS status,
			cp.name AS platform,
			date(vm.duedate) AS duedate
		FROM
			t_virtualmachine vm JOIN t_cloudplatform cp ON vm.platform = cp.id
		WHERE
			1 = 1
	</select>
	
	<select id="findById" resultType="pd">
		SELECT * FROM t_virtualmachine t WHERE t.id=#{id}
	</select>
	
	<select id="findPlatformById" resultType="pd">
		SELECT * FROM t_cloudplatform t WHERE t.id=#{id}
	</select>
	
	<update id="updateStatus">
		UPDATE
			t_virtualmachine t
		SET
			t.status=#{status}
		WHERE
			t.id=#{id}
	</update>
	
</mapper>