<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnapshotMapper">
	
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			v.name AS name,
			v.ip AS ip,
			u.username AS username
		FROM t_snapshot s
			JOIN t_virtualmachine v ON s.virtualmachine_id=v.id
			JOIN sys_user u ON s.creator=u.user_id
		WHERE
			1=1
	</select>
	
</mapper>