<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmpOrderMapper">
	<!--表名 -->
	<sql id="tableName">
		cmp_order
	</sql>
	
	<!-- 字段 -->
	<sql id="fieldName">
		orderNo,
		createTime,
		lastUpdateTime,
		status,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softCode,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		expireDate,
		virNum,
		pckgName
	</sql>
	
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{orderNo},
		#{createTime},
		#{lastUpdateTime},
		#{status},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softCode},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{expireDate},
		#{virNum},
		#{pckgName}
	</sql>
	
	<!-- 字段 -->
	<sql id="saveFieldName">
		orderNo,
		status,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softCode,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		expireDate,
		virNum,
		pckgName
	</sql>
	
	<sql id="saveFieldValue">
		func_nextval('cmp_order'),
		#{status},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softCode},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{expireDate},
		#{virNum},
		#{pckgName}
	</sql>
	
	<!-- 清单列表查询resultType及resultMap互斥： -->
	<select id="getCmpOrderList" parameterType="String" resultType="com.cmp.sid.CmpOrder">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
	</select>
	
	<!-- 清单详细信息查询 -->
	<select id="getOrderDtl" parameterType="String" resultType="com.cmp.sid.CmpOrder">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where orderNo=#{orderNo}
	</select>
	
	<!-- 套餐列表查询 -->
	<select id="getPckgList" parameterType="String" resultType="com.cmp.sid.CmpOrder">
		select a.orderNo, a.createTime, a.lastUpdateTime, a.status, a.applyUserId, a.areaCode, a.platType, a.deployType, a.envCode, a.resType, a.virName, a.virIp, a.cpu, a.memory, a.diskType, a.diskSize, a.diskEncrypt, a.softCode, a.softParam, a.projectCode, a.osType, a.osBitNum, a.imgCode, a.imgUserName, a.imgUserPass, a.imgPath, a.expireDate, a.virNum, a.pckgName
		, b.dictValue areaCodeName
		, c.dictValue platTypeName
		, d.dictValue deployTypeName
		, e.name envCodeName
		, f.dictValue resTypeName
		, g.name projectCodeName
		, h.dictValue osTypeName
		, i.dictValue osBitNumName
		, j.name imgCodeName
		, (SELECT GROUP_CONCAT(dictValue) FROM mysql.help_topic LEFT JOIN cmp_dict on dictType='disk_type' where (length(a.diskType)-length(REPLACE(a.diskType, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.diskType, ',', help_topic_id + 1), ',' , -1)=dictCode) diskTypeName
		, (SELECT GROUP_CONCAT(x.name) FROM mysql.help_topic LEFT JOIN t_medium x on 1=1 where (length(a.softCode)-length(REPLACE(a.softCode, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.softCode, ',', help_topic_id + 1), ',' , -1)=x.id) softName
		from 
		<include refid="tableName"/> a
		left join cmp_dict b on b.dictType='area_code' and b.dictCode=a.areaCode
		left join cmp_dict c on c.dictType='plat_type' and c.dictCode=a.platType
		left join cmp_dict d on d.dictType='deploy_type' and d.dictCode=a.deployType
		left join t_environment e on e.id=a.envCode
		left join cmp_dict f on f.dictType='res_type' and f.dictCode=a.resType
		left join t_project g on g.id=a.projectCode
		left join cmp_dict h on h.dictType='os_type' and h.dictCode=a.osType
		left join cmp_dict i on i.dictType='os_bit_num' and i.dictCode=a.osBitNum
		left join t_mirrortemplate j on j.id=a.imgCode
		where status='T' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 购物车列表查询 -->
	<select id="getShoppingCartList" parameterType="String" resultType="com.cmp.sid.CmpOrder">
		select a.orderNo, DATE_FORMAT(a.createTime, '%Y-%m-%d %H:%i:%s') createTime, a.lastUpdateTime, a.status, a.applyUserId, a.areaCode, a.platType, a.deployType, a.envCode, a.resType, a.virName, a.virIp, a.cpu, a.memory, a.diskType, a.diskSize, a.diskEncrypt, a.softCode, a.softParam, a.projectCode, a.osType, a.osBitNum, a.imgCode, a.imgUserName, a.imgUserPass, a.imgPath, a.expireDate, a.virNum, a.pckgName
		, b.dictValue areaCodeName
		, c.dictValue platTypeName
		, d.dictValue deployTypeName
		, e.name envCodeName
		, f.dictValue resTypeName
		, g.name projectCodeName
		, h.dictValue osTypeName
		, i.dictValue osBitNumName
		, j.name imgCodeName
		, (SELECT GROUP_CONCAT(dictValue) FROM mysql.help_topic LEFT JOIN cmp_dict on dictType='disk_type' where (length(a.diskType)-length(REPLACE(a.diskType, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.diskType, ',', help_topic_id + 1), ',' , -1)=dictCode) diskTypeName
		, (SELECT GROUP_CONCAT(x.name) FROM mysql.help_topic LEFT JOIN t_medium x on 1=1 where (length(a.softCode)-length(REPLACE(a.softCode, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.softCode, ',', help_topic_id + 1), ',' , -1)=x.id) softName
		from 
		<include refid="tableName"/> a
		left join cmp_dict b on b.dictType='area_code' and b.dictCode=a.areaCode
		left join cmp_dict c on c.dictType='plat_type' and c.dictCode=a.platType
		left join cmp_dict d on d.dictType='deploy_type' and d.dictCode=a.deployType
		left join t_environment e on e.id=a.envCode
		left join cmp_dict f on f.dictType='res_type' and f.dictCode=a.resType
		left join t_project g on g.id=a.projectCode
		left join cmp_dict h on h.dictType='os_type' and h.dictCode=a.osType
		left join cmp_dict i on i.dictType='os_bit_num' and i.dictCode=a.osBitNum
		left join t_mirrortemplate j on j.id=a.imgCode
		where status='0' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 购物车列表总数查询 -->
	<select id="getShoppingCartNum" parameterType="String" resultType="Long">
		select count(1)
		from 
		<include refid="tableName"/> a
		where status='0' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 已购历史列表查询 -->
	<select id="getBuyHisList" parameterType="String" resultType="com.cmp.sid.CmpOrder">
		select a.orderNo, DATE_FORMAT(a.createTime, '%Y-%m-%d %H:%i:%s') createTime, a.lastUpdateTime, a.status, a.applyUserId, a.areaCode, a.platType, a.deployType, a.envCode, a.resType, a.virName, a.virIp, a.cpu, a.memory, a.diskType, a.diskSize, a.diskEncrypt, a.softCode, a.softParam, a.projectCode, a.osType, a.osBitNum, a.imgCode, a.imgUserName, a.imgUserPass, a.imgPath, a.expireDate, a.virNum, a.pckgName
		, b.dictValue areaCodeName
		, c.dictValue platTypeName
		, d.dictValue deployTypeName
		, e.name envCodeName
		, f.dictValue resTypeName
		, g.name projectCodeName
		, h.dictValue osTypeName
		, i.dictValue osBitNumName
		, j.name imgCodeName
		, (SELECT GROUP_CONCAT(dictValue) FROM mysql.help_topic LEFT JOIN cmp_dict on dictType='disk_type' where (length(a.diskType)-length(REPLACE(a.diskType, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.diskType, ',', help_topic_id + 1), ',' , -1)=dictCode) diskTypeName
		, (SELECT GROUP_CONCAT(x.name) FROM mysql.help_topic LEFT JOIN t_medium x on 1=1 where (length(a.softCode)-length(REPLACE(a.softCode, ',', ''))+1)>help_topic_id and substring_index(substring_index(a.softCode, ',', help_topic_id + 1), ',' , -1)=x.id) softName
		from 
		<include refid="tableName"/> a
		left join cmp_dict b on b.dictType='area_code' and b.dictCode=a.areaCode
		left join cmp_dict c on c.dictType='plat_type' and c.dictCode=a.platType
		left join cmp_dict d on d.dictType='deploy_type' and d.dictCode=a.deployType
		left join t_environment e on e.id=a.envCode
		left join cmp_dict f on f.dictType='res_type' and f.dictCode=a.resType
		left join t_project g on g.id=a.projectCode
		left join cmp_dict h on h.dictType='os_type' and h.dictCode=a.osType
		left join cmp_dict i on i.dictType='os_bit_num' and i.dictCode=a.osBitNum
		left join t_mirrortemplate j on j.id=a.imgCode
		where status='1' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 已购历史列表总数查询 -->
	<select id="getBuyHisNum" parameterType="String" resultType="Long">
		select count(1)
		from 
		<include refid="tableName"/> a
		where status='1' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 新增清单或套餐 -->
	<insert id="saveCmpOrder" parameterType="com.cmp.sid.CmpOrder" >
		insert into <include refid="tableName"/> (
			<include refid="saveFieldName"/>
		) values (
			<include refid="saveFieldValue"/>
		)
	</insert>
	
	<!-- 新增套餐清单 -->
	<insert id="addPckgList" parameterType="com.cmp.sid.CmpOrder" >
		insert into <include refid="tableName"/> (<include refid="saveFieldName"/>)
		select func_nextval('cmp_order'), #{status}, #{applyUserId}, #{areaCode}, #{platType}, #{deployType}, envCode, resType, #{virName}, virIp, cpu, memory, diskType, diskSize, diskEncrypt, softCode, softParam, projectCode, osType, osBitNum, imgCode, imgUserName, imgUserPass, imgPath, expireDate, virNum, ''
		from 
		<include refid="tableName"/>
		where orderNo=#{orderNo}
	</insert>
	
	<!-- 更新清单状态 -->
	<select id="updateCmpOrderStatus" parameterType="String">
		update <include refid="tableName"/> set status='1' where orderNo=#{orderNo}
	</select>
	
	<!-- 清空购物车 -->
	<select id="clearShoppingCart" parameterType="String">
		delete from <include refid="tableName"/> where status='0' and applyUserId=#{applyUserId}
	</select>
	
	<!-- 删除清单 -->
	<select id="delCmpOrder" parameterType="String">
		delete from <include refid="tableName"/> where orderNo=#{orderNo}
	</select>
	
	<!-- 删除套餐 -->
	<select id="delPckg" parameterType="String">
		delete from <include refid="tableName"/> where orderNo=#{pckgId}
	</select>
</mapper>