<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmpWorkOrderMapper">
	<!--表名 -->
	<sql id="tableName">
		cmp_workorder
	</sql>
	<sql id="hi_taskinst">
		act_hi_taskinst
	</sql>
	
	<!-- 字段 -->
	<sql id="fieldName">
		appNo,
		createTime,
		lastUpdateTime,
		orderNo,
		appType,
		status,
		procInstId,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softName,
		softVer,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		imgExpireDate,
		expireDate,
		virNum
	</sql>
	
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{appNo},
		#{createTime},
		#{lastUpdateTime},
		#{orderNo},
		#{appType},
		#{status},
		#{procInstId},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softName},
		#{softVer},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{imgExpireDate},
		#{expireDate},
		#{virNum}
	</sql>
	
	<!-- 字段 -->
	<sql id="saveFieldName">
		id,
		appNo,
		orderNo,
		appType,
		status,
		procInstId,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softName,
		softVer,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		imgExpireDate,
		expireDate,
		virNum
	</sql>
	
	<sql id="saveFieldValue">
		#{id},
		#{appNo},
		#{orderNo},
		#{appType},
		#{status},
		#{procInstId},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softName},
		#{softVer},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{imgExpireDate},
		#{expireDate},
		#{virNum}
	</sql>
	
	<!-- 获取申请编号 -->
	<select id="getAppNo" parameterType="String" resultType="String">
		select func_nextval(#{seqName})
	</select>
	
	<!-- 新增工单 -->
	<insert id="addWorkOrder" parameterType="pd">
		insert into <include refid="tableName"/> (<include refid="saveFieldName"/>)
		select #{appNo}, #{orderNo}, #{appType}, #{status}, #{procInstId}, #{applyUserId}, areaCode, platType, deployType, envCode, resType, virName, virIp, cpu, memory, diskType, diskSize, diskEncrypt, softName, softVer, softParam, projectCode, osType, osBitNum, imgCode, imgUserName, imgUserPass, imgPath, imgExpireDate, expireDate, virNum
		from cmp_order
		where orderNo=#{orderNo}
	</insert>
	
	<!-- 新增工单 -->
	<insert id="saveWorkOrder" parameterType="com.cmp.sid.CmpWorkOrder" >
		<selectKey keyProperty="id" order="BEFORE" resultType="String"> 
			select func_nextval('cmp_workorder')
		</selectKey>
		insert into <include refid="tableName"/> (
			<include refid="saveFieldName"/>
		) values (
			<include refid="saveFieldValue"/>
		)
	</insert>
	
	<!--个人工单查询 -->
	<select id="workorderlistPage" parameterType="page" resultType="pd">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where 1=1 
		
		<if test="pd.workorder_type != null and pd.workorder_type != ''">
			and appType=#{pd.workorder_type} 
		</if>
		<if test="pd.workorder_status != null and pd.workorder_status != ''">
			and status=#{pd.workorder_status} 
		</if>
		<if test="pd.project != null and pd.project != ''">
			and projectCode=#{pd.project} 
		</if>
		<if test="pd.workorder_id != null and pd.workorder_id != ''">
			and id like %#{pd.workorder_id}% 
		</if>
		<if test="pd.workorder_time != null and pd.workorder_time != ''">
			<if test="pd.workorder_time=='1'">
				<![CDATA[
				and  date_sub(CURDATE(),interval 7 day) <= date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '2'">
				<![CDATA[
				and date_sub(curdate(),interval 1 month)<=date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '3'">
				<![CDATA[
				and date_sub(curdate(),interval 1 year)<=date(createTime) 
				]]>
			</if>
		</if>
		
		and procInstId in 
		(
				select DISTINCT  PROC_INST_ID_ from 
				<include refid="hi_taskinst" /> t 
				where t.ASSIGNEE_=#{pd.USERNAME}
		)
		 order by status desc
	</select>
	
</mapper>