<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmpWorkOrderMapper">
	<!--表名 -->
	<sql id="tableName">
		cmp_workorder
	</sql>
	<sql id="hi_actinst">
		act_hi_actinst
	</sql>
	<sql id="ru_identitylink">
		act_ru_identitylink
	</sql>
	<sql id="ru_task">
		act_ru_task
	</sql>
	
	<!-- 字段 -->
	<sql id="fieldName">
		appNo,
		createTime,
		lastUpdateTime,
		orderNo,
		appType,
		status,
		procInstId,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softCode,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		expireDate,
		virNum,
		totalAmt,
		executeStatus,
		uploadFileName
	</sql>
	
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{appNo},
		#{createTime},
		#{lastUpdateTime},
		#{orderNo},
		#{appType},
		#{status},
		#{procInstId},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softCode},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{expireDate},
		#{virNum},
		#{totalAmt},
		#{executeStatus},
		#{uploadFileName}
	</sql>
	
	<!-- 字段 -->
	<sql id="saveFieldName">
		appNo,
		orderNo,
		appType,
		status,
		procInstId,
		applyUserId,
		areaCode,
		platType,
		deployType,
		envCode,
		resType,
		virName,
		virIp,
		cpu,
		memory,
		diskType,
		diskSize,
		diskEncrypt,
		softCode,
		softParam,
		projectCode,
		osType,
		osBitNum,
		imgCode,
		imgUserName,
		imgUserPass,
		imgPath,
		expireDate,
		virNum,
		totalAmt,
		executeStatus,
		uploadFileName
	</sql>
	
	<sql id="saveFieldValue">
		#{appNo},
		#{orderNo},
		#{appType},
		#{status},
		#{procInstId},
		#{applyUserId},
		#{areaCode},
		#{platType},
		#{deployType},
		#{envCode},
		#{resType},
		#{virName},
		#{virIp},
		#{cpu},
		#{memory},
		#{diskType},
		#{diskSize},
		#{diskEncrypt},
		#{softCode},
		#{softParam},
		#{projectCode},
		#{osType},
		#{osBitNum},
		#{imgCode},
		#{imgUserName},
		#{imgUserPass},
		#{imgPath},
		#{expireDate},
		#{virNum},
		#{totalAmt},
		#{executeStatus},
		#{uploadFileName}
	</sql>
	
	<!-- 获取申请编号 -->
	<select id="getAppNo" parameterType="String" resultType="String">
		select func_nextval(#{seqName})
	</select>
	
	<!-- 新增工单 -->
	<insert id="addWorkOrder" parameterType="pd">
		insert into <include refid="tableName"/> (<include refid="saveFieldName"/>)
		select #{appNo}, #{orderNo}, #{appType}, #{status}, #{procInstId}, #{applyUserId}, areaCode, platType, deployType, envCode, resType, virName, virIp, cpu, memory, diskType, diskSize, diskEncrypt, softCode, softParam, projectCode, osType, osBitNum, imgCode, imgUserName, imgUserPass, imgPath, expireDate, virNum, #{totalAmt}, '0', fileName
		from cmp_order
		where orderNo=#{orderNo}
	</insert>
	
	<!-- 新增工单 -->
	<insert id="saveWorkOrder" parameterType="com.cmp.sid.CmpWorkOrder" >
		<selectKey keyProperty="appNo" order="BEFORE" resultType="String"> 
			select func_nextval('cmp_workorder')
		</selectKey>
		insert into <include refid="tableName"/> (
			<include refid="saveFieldName"/>
		) values (
			<include refid="saveFieldValue"/>
		)
	</insert>
	
	<!-- 更新工单 -->
	<update id="updateWorkOrder" parameterType="Map">
			update
		<include refid="tableName"></include>
		  <set>   
			<if test="procInstId != null and procInstId != ''">
			procInstId = #{procInstId},
			</if>
			<if test="status != null and status != ''">
			status = #{status}
			</if>
			</set>  
		where 
		appNo = #{appNo}
	</update>
	
		<!-- 更新工单执行状态 -->
	<update id="updateExecuteStatus" parameterType="Map">
			update
			<include refid="tableName"></include>
				<if test="executeStatus != null and executeStatus != ''">
			    set	executeStatus = #{executeStatus}
				</if> 
		where 
		appNo = #{appNo}
	</update>
	
	<select id="findByAppNo" parameterType="String" resultType="com.cmp.sid.CmpWorkOrder">
		select * from <include refid="tableName"></include>
			where appNo = #{appNo}
	</select>
	
	
	
	<!--个人所有工单 -->
	<select id="listAllWorkorder" parameterType="page" resultType="pd">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where 1=1 
		
		<if test="pd.workorder_type != null and pd.workorder_type != ''">
			and appType=#{pd.workorder_type} 
		</if>
		<if test="pd.workorder_status != null and pd.workorder_status != ''">
			and status=#{pd.workorder_status} 
		</if>
		<if test="pd.project != null and pd.project != ''">
			and projectCode=#{pd.project} 
		</if>
		<if test="pd.workorder_id != null and pd.workorder_id != ''">
			and id like %#{pd.workorder_id}% 
		</if>
		<if test="pd.workorder_time != null and pd.workorder_time != ''">
			<if test="pd.workorder_time=='1'">
				<![CDATA[
				and  date_sub(CURDATE(),interval 7 day) <= date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '2'">
				<![CDATA[
				and date_sub(curdate(),interval 1 month)<=date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '3'">
				<![CDATA[
				and date_sub(curdate(),interval 1 year)<=date(createTime) 
				]]>
			</if>
		</if>
		
		and procInstId in 
		(
				<!-- 获取完成的工单 -->
				select DISTINCT  PROC_INST_ID_ from 
				<include refid="hi_actinst" /> t 
				where 1=1  
				
				<if test="pd.userType == 'admin'.toString() or pd.userType == 'applicant'.toString()">
				and t.ASSIGNEE_ = #{pd.USERNAME}
				 </if>
				<if test="pd.userType == 'audit'.toString() or pd.userType == 'executor'.toString()">
				and t.ASSIGNEE_ in (select distinct a.username from t_usergroup_user_map a , t_usergroup_user_map b where a.usergroup_id = b.usergroup_id and b.username = #{pd.USERNAME})
				</if>
				
				UNION
				<!-- 获取未拾取的工单 -->
				select DISTINCT  r.PROC_INST_ID_ from <include refid="ru_task" />  r , <include refid="ru_identitylink" /> i where r.ID_ = i.TASK_ID_  and 
						i.TYPE_ = 'candidate' and i.USER_ID_=#{pd.USERNAME}
		)
		 order by status asc
	</select>
	
	
	<!--个人工单查询 -->
	<select id="workorderlistPage" parameterType="page" resultType="pd">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where 1=1 
		
		<if test="pd.workorder_type != null and pd.workorder_type != ''">
			and appType=#{pd.workorder_type} 
		</if>
		<if test="pd.workorder_status != null and pd.workorder_status != ''">
			and status=#{pd.workorder_status} 
		</if>
		<if test="pd.project != null and pd.project != ''">
			and projectCode=#{pd.project} 
		</if>
		<if test="pd.workorder_appNo != null and pd.workorder_appNo != ''">
			and appNo like CONCAT('%',#{pd.workorder_appNo},'%')   
		</if>
		<if test="pd.workorder_time != null and pd.workorder_time != ''">
			<if test="pd.workorder_time=='1'.toString()">
				<![CDATA[
				and  date_sub(CURDATE(),interval 7 day) <= date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '2'.toString()">
				<![CDATA[
				and date_sub(curdate(),interval 1 month)<=date(createTime) 
				]]>
			</if>
			<if test="pd.workorder_time == '3'.toString()">
				<![CDATA[
				and date_sub(curdate(),interval 1 year)<=date(createTime) 
				]]>
			</if>
		</if>
		and procInstId in 
		(
				<!-- 获取完成的工单 -->
				select DISTINCT  PROC_INST_ID_ from 
				<include refid="hi_actinst" /> t 
				where 1=1  
				
				<if test="pd.userType == 'admin'.toString() or pd.userType == 'applicant'.toString()">
				and t.ASSIGNEE_ = #{pd.USERNAME}
				 </if>
				<if test="pd.userType == 'audit'.toString() or pd.userType == 'executor'.toString()">
				and t.ASSIGNEE_ in (select distinct a.username from t_usergroup_user_map a , t_usergroup_user_map b where a.usergroup_id = b.usergroup_id and b.username = #{pd.USERNAME})
				</if>
				UNION
				<!-- 获取未拾取的或未完成的工单 -->
				select DISTINCT  r.PROC_INST_ID_ from <include refid="ru_task" />  r , <include refid="ru_identitylink" /> i where r.ID_ = i.TASK_ID_  and 
						(i.TYPE_ = 'candidate' or i.TYPE_='participant') and i.USER_ID_=#{pd.USERNAME}
		)
		 order by
		 <if test="pd.sortCol == null or pd.sortCol == ''">
			appNo   
		</if>
		 <if test="pd.sortCol != null and pd.sortCol != ''">
			${pd.sortCol}   
		</if>
		<if test="pd.sortType == null or pd.sortType == ''">
			desc  
		</if>
		<if test="pd.sortType != null and pd.sortType != ''">
			${pd.sortType}  
		</if>
	</select>
	
	<select id="queryUserToDoWorkorderPage" parameterType="page" resultType="pd">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where 1=1 
		and procInstId in 
		(
				<!-- 获取未拾取或未完成的工单 -->
				select DISTINCT  r.PROC_INST_ID_ from <include refid="ru_task" />  r , <include refid="ru_identitylink" /> i where 1=1
				 and r.ID_ = i.TASK_ID_  
				 and (i.TYPE_ = 'candidate' or i.TYPE_='participant')
				 and i.USER_ID_=#{pd.USERNAME} 
		)
		 order by 
		  <if test="pd.sortCol == null or pd.sortCol == ''">
			appNo   
		</if>
		 <if test="pd.sortCol != null and pd.sortCol != ''">
			${pd.sortCol}   
		</if>
		 <if test="pd.sortType == null or pd.sortType == ''">
			desc  
		</if>
		<if test="pd.sortType != null and pd.sortType != ''">
			${pd.sortType}  
		</if>
		  
	</select>
	
	<select id="queryUserCurrentdayWorkorderPage" parameterType="page" resultType="pd">
		select <include refid="fieldName"/>
		from 
		<include refid="tableName"/>
		where 1=1 
		and procInstId in 
		(
				<!-- 获取完成的工单 -->
				select DISTINCT  PROC_INST_ID_ from 
				<include refid="hi_actinst" /> t 
				where 1=1   
				<if test="pd.userType == 'admin'.toString() or pd.userType == 'applicant'.toString()">
				and t.ASSIGNEE_ = #{pd.USERNAME}
				 </if>
				<if test="pd.userType == 'audit'.toString() or pd.userType == 'executor'.toString()">
				and t.ASSIGNEE_ in (select distinct a.username from t_usergroup_user_map a , t_usergroup_user_map b where a.usergroup_id = b.usergroup_id and b.username = #{pd.USERNAME})
				</if>
				<![CDATA[
				and date_sub(curdate(),interval 24 HOUR)<=date(t.START_TIME_) 
				]]>
				UNION
				<!-- 获取未拾取的或未完成的工单 -->
				select DISTINCT  r.PROC_INST_ID_ from <include refid="ru_task" />  r , <include refid="ru_identitylink" /> i where r.ID_ = i.TASK_ID_  and 
						(i.TYPE_ = 'candidate' or i.TYPE_='participant') and i.USER_ID_=#{pd.USERNAME} 
						<![CDATA[
							and date_sub(curdate(),interval 24 HOUR)<=date(r.CREATE_TIME_) 
						]]>
		)
		 order by 
		  <if test="pd.sortCol == null or pd.sortCol == ''">
			appNo   
		</if>
		 <if test="pd.sortCol != null and pd.sortCol != ''">
			${pd.sortCol}   
		</if>
		   <if test="pd.sortType == null or pd.sortType == ''">
			desc  
		</if>
		<if test="pd.sortType != null and pd.sortType != ''">
			${pd.sortType}  
		</if>
	</select>
	
</mapper>