body.login_default{
    padding: 0;
    margin: -20px 0 0 0;
    background:#fafafa;
}
body.login_default,body.login_default .main-container,body.login_default .page-content{
    background:#fafafa;
    height: auto;
}
body.login_default .page-content {
    padding: 0px 12px 0px;
}
body.login_default .page-content .row .col-md-6 {
    padding-left: 6px;
    padding-right: 6px;
}
body.login_default .head-title {
    height: 40px;
    background:#fafafa;
}
body.login_default .head-title h1{
    line-height: 40px;
    font-size: 16px;
    text-indent: 24px;
    font-weight: bold;
}
body.login_default .head-nav {
    height: 30px;
    line-height: 30px;
    background: #eeeeee;
    font-size: 14px;
    text-indent: 24px;
    font-weight: bold;
    color: #959595;
}
body.login_default .head-toggle {
    width: 100%;
    height: 50px;
    background:#fafafa;
    display: block;
    overflow: hidden;
}
body.login_default .head-toggle ul{
    width: 100%;
    height: 50px;
    margin:0;
    padding: 0 0 0 14px;
    list-style-type: none;
}
body.login_default .head-toggle li {
    float: left;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius:25px;
    background-color:#f8f8f8;
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px 0 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #313131;
}
body.login_default .head-toggle li:last-child{
    width:50px;
    border:0;
    background: none;
}
body.login_default .head-toggle li:last-child i{
    font-size: 18px;
    margin-top: 10px;
}
body.login_default .row-fluid {
    height: auto;
}
body.login_default .mem-panel {
    width:100%;
    height: auto;
}
body.login_default .mem-panel .inner-box{
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
    background: #ffffff;
}
body.login_default .mem-panel .inner-box .head-box{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eeeeee;
    text-indent: 20px;
    font-size: 16px;
}
body.login_default .mem-panel .inner-box .head-box span {
    float: left;
}
body.login_default .mem-panel .inner-box .head-box select {
    float: right;
    margin: 10px 10px 0 0;
    height: 30px;
}
body.login_default .mem-panel .inner-box .head-box ul {
    width: 80%;
    float: right;
    list-style-type: none;
    margin-top: 15px;
}
body.login_default .mem-panel .inner-box .head-box ul li{
    width: 100px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    float: left;
    text-align: left;
    text-indent: 35px;
    color: #000000;
}
body.login_default .mem-panel .inner-box .head-box ul li.blues{
    background: url("../images/color.png") no-repeat;
}
body.login_default .mem-panel .inner-box .head-box ul li.yellows{
    background: url("../images/color.png") no-repeat 0 -22px;
}
body.login_default .mem-panel .inner-box .head-box ul li.pinks{
    background: url("../images/color.png") no-repeat 0 -44px;
}
body.login_default .mem-panel .inner-box .head-box ul li.grays{
    background: url("../images/color.png") no-repeat 0 -66px;
}


body.login_default .mem-panel .inner-box .body-box{
    width: 100%;
    height: auto;
}
body.login_default .meterStyle1 {
    width: 100%;
}
body.login_default .select-box{
    width: 100%;
    height: 40px;
    padding: 20px 0 20px 0;
}
body.login_default .select-box select{
    float: right;
    margin-right: 15px;
    height: 30px;
}
body.login_default .simple-table {
    width: 100%;
    border: 1px solid #f2f2f2;

}
body.login_default .simple-table td{
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    height: 35px;
}
body.login_default .simple-table th{
    background: #f8f8f8;
    text-align: center;
    height: 35px;
}
body.login_default .head-toggle i{
    font-size: 30px;
}
body.login_default div#tip{
    position:absolute;
    width:100px;
    height:auto;
    z-index: 9999;
}
body.login_default #tip table td.top-left{
    width: 10px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    background: url("../images/top-left.png");
}
body.login_default #tip table td.top-middle{
    height: 10px;
    line-height: 10px;
    background: url("../images/top-middle.png");
}
body.login_default #tip table td.top-right{
    width: 10px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    background: url("../images/top-right.png");
}
body.login_default #tip table td.bottom-left{
    width: 10px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    background: url("../images/bottom-left.png");
}
body.login_default #tip table td.bottom-middle{
    height: 10px;
    line-height: 10px;
    background: url("../images/bottom-middle.png");
}
body.login_default #tip table td.bottom-right{
    width: 10px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    background: url("../images/bottom-right.png");
}
body.login_default #tip table td.center-left{
    width: 10px;
    min-width: 10px;
    background: url("../images/center-left.png");
}
body.login_default #tip table td.center-right{
    width: 10px;
    min-width: 10px;
    background: url("../images/center-right.png");
}
body.login_default #tip table td.center-middle{
    background: #ffffff;
    white-space:nowrap;
    font-weight: bold;
}
body.login_default #left-container .col-xs-4 {
    padding: 0;
}

/*登录页样式*/
body.login {
    background: url('../images/banner.png');
    background-size: cover;
}
body.login .normal_text {
    padding: 50px 40px 15px 40px !important;
}
body.login .normal_text h2 {
    text-align: left;
    margin-bottom: 20px;
}
body.login .line {
    height:9px;
    background: #ffffff;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
}
body.login .main_input_box input{
    width: 87% !important;
    height: 40px !important;
    text-indent: 50px;
    background-color: #ffffff !important;
    -moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari 和 Chrome */
outline:none;
}
body.login .main_input_box #loginname {
    background: url("../images/login-icon.png") 0 -4px no-repeat;
}
body.login .main_input_box #password {
    background: url("../images/login-icon.png") 0 -53px no-repeat;
}
body.login .no-margin {
    padding-top: 10px !important;
    padding-bottom: 5px!important;
}
body.login a.flip-link {
    width: 180px;
    height: 37px;
    background: url("../images/login-sub.png");
    padding: 0;
    border: 0;
    float: right;
    line-height: 37px;
    text-indent: -20px;
}

/*资源申请页样式*/
body.resapp-qry-input {
    background: #fafafa;
}
body.resapp-qry-input .head-nav {
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    font-size: 14px;
    text-indent: 24px;
    font-weight: bold;
    color: #959595;
    border-bottom: 1px solid #d5d5d5;
}
body.resapp-qry-input .nav-tabs{
    background:#ffffff;
}
body.resapp-qry-input .nav-tabs li{
    height: 55px;
    border-right: 1px solid #dfdfdf;
}
body.resapp-qry-input .nav-tabs li.active{
    background: #fafafa;
}
body.resapp-qry-input .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    width: auto;
    padding: 0 40px 0 40px !important;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    background: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    color: #737373;
}
body.resapp-qry-input .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    width: auto;
    padding: 0 40px 0 40px !important;;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    background: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    color: #737373;
}
body.resapp-qry-input .tab-content {
    border-top: 0;
}
body.resapp-qry-input .tab-pane table {
    background:#fafafa !important;
}
body.resapp-qry-input .tablecls td{
    background: #ffffff !important;
}
body.resapp-qry-input .tablecls td.first-td{
    border: 1px solid #f6f6f6;
    text-align: center;
    padding-left: 0 !important;
    width: 150px;
}
body.resapp-qry-input .tab-pane table ul.ullitab li {
    border: 1px solid #e5e5e5;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius:18px;
    background-color:#ffffff;
    margin-right: 10px;
    color:#737373;
}
body.resapp-qry-input .tab-pane table ul.ullitab li.active {
    border: 1px solid #5abfdd;
    background-color:#5abfdd;
    color:#ffffff;
}
body.resapp-qry-input  .tab-pane table input[type=text],
body.resapp-qry-input  .tab-pane table input[type=password],
body.resapp-qry-input  .tab-pane table select {
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius:5px !important;
    background: #fafafa;
}
body.resapp-qry-input .divbtn .btncls{
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius:5px !important;
}
body.resapp-qry-input .divbtn .btncls a{
    border: 0;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius:5px !important;
    color: #de7e41;
}
body.resapp-qry-input .divbtn .btncls a:hover{
    color: #ffffff;
}
body.resapp-qry-input .divbtn .btncls.active a {
    color: #ffffff;
}

/*
左侧菜单*/
.new-menu li i.menu-icon{
    width: 20px;
    min-width:20px;
    height: 20px;
    display: inline-block;
    /*background: url("../images/icon-out.png");*/
    vertical-align: middle;
    margin:0 5px 0 10px;
}
.new-menu li.active i.menu-icon{
     width: 20px;
     min-width:20px;
     height: 20px;
     display: inline-block;
     /*background: url("../images/icon-active.png");*/
     vertical-align: middle;
     margin:0 5px 0 10px;
 }
/*.new-menu li.active .submenu i.menu-icon{
    width: 20px;
    min-width:20px;
    height: 20px;
    display: inline-block;
    background: url("../images/icon-out.png");
    vertical-align: middle;
    margin:0 5px 0 10px;
}
.new-menu li.active .submenu li.active i.menu-icon{
    width: 20px;
    min-width:20px;
    height: 20px;
    display: inline-block;
    background: url("../images/icon-active.png");
    vertical-align: middle;
    margin:0 5px 0 10px;
}*/
.new-menu li i.fa-tachometer {
    background: url("../images/icon-out.png");
    background-position: 0px 0px ;
}
.new-menu   li.active i.fa-tachometer,.new-menu ul.submenu li.active i.fa-tachometer{
    background: url("../images/icon-active.png");
    background-position: 0px 0px ;
}
.new-menu li i.fa-laptop {
    background: url("../images/icon-out.png");
    background-position: 0px -20px ;
}
.new-menu   li.active i.fa-laptop,.new-menu ul.submenu li.active i.fa-laptop{
    background: url("../images/icon-active.png");
    background-position: 0px -20px ;
}
.new-menu li i.fa-globe{
    background: url("../images/icon-out.png");
    background-position: 0px -40px ;
}
.new-menu   li.active i.fa-globe,.new-menu ul.submenu li.active i.fa-globe{
    background: url("../images/icon-active.png");
    background-position: 0px -40px ;
}
.new-menu li i.fa-leaf{
    background: url("../images/icon-out.png");
    background-position: 0px -60px ;
}
.new-menu   li.active i.fa-leaf,.new-menu ul.submenu li.active i.fa-leaf{
    background: url("../images/icon-active.png");
    background-position: 0px -60px ;
}
.new-menu li i.fa-users{
    background: url("../images/icon-out.png");
    background-position: 0px -80px ;
}
.new-menu   li.active i.fa-users,.new-menu ul.submenu li.active i.fa-users{
    background: url("../images/icon-active.png");
    background-position: 0px -80px ;
}
.new-menu li i.fa-exchange{
    background: url("../images/icon-out.png");
    background-position: 0px -100px ;
}
.new-menu   li.active i.fa-exchange,.new-menu ul.submenu li.active i.fa-exchange{
    background: url("../images/icon-active.png");
    background-position: 0px -100px ;
}
.new-menu li i.fa-gift{
    background: url("../images/icon-out.png");
    background-position: 0px -120px ;
}
.new-menu   li.active i.fa-gift,.new-menu ul.submenu li.active i.fa-gift{
    background: url("../images/icon-active.png");
    background-position: 0px -120px ;
}
.new-menu li i.fa-bullhorn{
    background: url("../images/icon-out.png");
    background-position: 0px -140px ;
}
.new-menu   li.active i.fa-bullhorn,.new-menu ul.submenu li.active i.fa-bullhorn{
    background: url("../images/icon-active.png");
    background-position: 0px -140px ;
}
.new-menu li i.fa-barcode{
    background: url("../images/icon-out.png");
    background-position: 0px -160px ;
}
.new-menu   li.active i.fa-barcode,.new-menu ul.submenu li.active i.fa-barcode{
    background: url("../images/icon-active.png");
    background-position: 0px -160px ;
}
.new-menu li i.fa-pencil-square-o{
    background: url("../images/icon-out.png");
    background-position: 0px -180px ;
}
.new-menu   li.active i.fa-pencil-square-o,.new-menu ul.submenu li.active i.fa-pencil-square-o{
    background: url("../images/icon-active.png");
    background-position: 0px -180px ;
}
.new-menu li i.fa-eye{
    background: url("../images/icon-out.png");
    background-position: 0px -200px ;
}
.new-menu   li.active i.fa-eye,.new-menu ul.submenu li.active i.fa-eye{
    background: url("../images/icon-active.png");
    background-position: 0px -200px ;
}
.new-menu li i.fa-credit-card{
    background: url("../images/icon-out.png");
    background-position: 0px -220px ;
}
.new-menu   li.active i.fa-credit-card,.new-menu ul.submenu li.active i.fa-credit-card{
    background: url("../images/icon-active.png");
    background-position: 0px -220px ;
}
.new-menu li i.fa-bar-chart-o{
    background: url("../images/icon-out.png");
    background-position: 0px -100px ;
}
.new-menu   li.active i.fa-bar-chart-o,.new-menu ul.submenu li.active i.fa-bar-chart-o{
    background: url("../images/icon-active.png");
    background-position: 0px -100px ;
}
.new-menu li i.fa-flask{
    background: url("../images/icon-out.png");
    background-position: 0px -240px ;
}
.new-menu   li.active i.fa-flask,.new-menu ul.submenu li.active i.fa-flask{
    background: url("../images/icon-active.png");
    background-position: 0px -240px ;
}
.new-menu li i.fa-cloud{
    background: url("../images/icon-out.png");
    background-position: 0px -260px ;
}
.new-menu   li.active i.fa-cloud,.new-menu ul.submenu li.active i.fa-cloud{
    background: url("../images/icon-active.png");
    background-position: 0px -260px ;
}
.new-menu li i.fa-key{
    background: url("../images/icon-out.png");
    background-position: 0px -280px ;
}
.new-menu   li.active i.fa-key,.new-menu ul.submenu li.active i.fa-key{
    background: url("../images/icon-active.png");
    background-position: 0px -280px ;
}
.new-menu li i.fa-cogs{
    background: url("../images/icon-out.png");
    background-position: 0px -300px ;
}
.new-menu   li.active i.fa-cogs,.new-menu ul.submenu li.active i.fa-cogs{
    background: url("../images/icon-active.png");
    background-position: 0px -300px ;
}
.new-menu li i.fa-calendar{
     background: url("../images/icon-out.png");
     background-position: 0px -320px ;
 }
.new-menu   li.active i.fa-calendar,.new-menu ul.submenu li.active i.fa-calendar{
    background: url("../images/icon-active.png");
    background-position: 0px -320px ;
}
/*用户组管理*/
.new-menu li i.fa-yhzgl{
    background: url("../images/icon-out.png");
    background-position: 0px -460px ;
}
.new-menu ul.submenu li.active i.fa-yhzgl{
    background: url("../images/icon-active.png");
    background-position: 0px -460px ;
}
/*用户管理*/
.new-menu li i.fa-yhgl{
    background: url("../images/icon-out.png");
    background-position: 0px -480px ;
}
.new-menu ul.submenu li.active i.fa-yhgl{
    background: url("../images/icon-active.png");
    background-position: 0px -480px ;
}
/*工作流定义*/
.new-menu li i.fa-gzldy{
    background: url("../images/icon-out.png");
    background-position: 0px -500px ;
}
.new-menu ul.submenu li.active i.fa-gzldy{
    background: url("../images/icon-active.png");
    background-position: 0px -500px ;
}
/*已定义流程*/
.new-menu li i.fa-ydylc{
    background: url("../images/icon-out.png");
    background-position: 0px -520px ;
}
.new-menu ul.submenu li.active i.fa-ydylc{
    background: url("../images/icon-active.png");
    background-position: 0px -520px ;
}
/*资源申请*/
.new-menu li i.fa-zysq{
    background: url("../images/icon-out.png");
    background-position: 0px -540px ;
}
.new-menu ul.submenu li.active i.fa-zysq{
    background: url("../images/icon-active.png");
    background-position: 0px -540px ;
}
/*运维服务申请*/
.new-menu li i.fa-ywfwsq{
    background: url("../images/icon-out.png");
    background-position: 0px -560px ;
}
.new-menu ul.submenu li.active i.fa-ywfwsq{
    background: url("../images/icon-active.png");
    background-position: 0px -560px ;
}
/*云主机*/
.new-menu li i.fa-yzj{
    background: url("../images/icon-out.png");
    background-position: 0px -360px ;
}
.new-menu ul.submenu li.active i.fa-yzj{
    background: url("../images/icon-active.png");
    background-position: 0px -360px ;
}
/*云磁盘*/
.new-menu li i.fa-ycp{
    background: url("../images/icon-out.png");
    background-position: 0px -600px ;
}
.new-menu ul.submenu li.active i.fa-ycp{
    background: url("../images/icon-active.png");
    background-position: 0px -600px ;
}
/*快照*/
.new-menu li i.fa-kz{
    background: url("../images/icon-out.png");
    background-position: 0px -580px ;
}
.new-menu ul.submenu li.active i.fa-kz{
    background: url("../images/icon-active.png");
    background-position: 0px -580px ;
}
/*计费报表*/
.new-menu li i.fa-jfbb{
    background: url("../images/icon-out.png");
    background-position: 0px -620px ;
}
.new-menu ul.submenu li.active i.fa-jfbb{
    background: url("../images/icon-active.png");
    background-position: 0px -620px ;
}
/*资源使用报表*/
.new-menu li i.fa-zysybb{
    background: url("../images/icon-out.png");
    background-position: 0px -640px ;
}
.new-menu ul.submenu li.active i.fa-zysybb{
    background: url("../images/icon-active.png");
    background-position: 0px -640px ;
}
/*软件台账报表*/
.new-menu li i.fa-rjtzbb{
    background: url("../images/icon-out.png");
    background-position: 0px -660px ;
}
.new-menu ul.submenu li.active i.fa-rjtzbb{
    background: url("../images/icon-active.png");
    background-position: 0px -660px ;
}
/*云主机资产台账报表*/
.new-menu li i.fa-yzjzctzbb{
    background: url("../images/icon-out.png");
    background-position: 0px -680px ;
}
.new-menu ul.submenu li.active i.fa-yzjzctzbb{
    background: url("../images/icon-active.png");
    background-position: 0px -680px ;
}
/*业务视图总览*/
.new-menu li i.fa-ywstzl{
    background: url("../images/icon-out.png");
    background-position: 0px -700px ;
}
.new-menu ul.submenu li.active i.fa-ywstzl{
    background: url("../images/icon-active.png");
    background-position: 0px -700px ;
}
/*资源视图总览*/
.new-menu li i.fa-zystzl{
    background: url("../images/icon-out.png");
    background-position: 0px -720px ;
}
.new-menu ul.submenu li.active i.fa-zystzl{
    background: url("../images/icon-active.png");
    background-position: 0px -720px ;
}
/*资源申请趋势*/
.new-menu li i.fa-zysqqs{
    background: url("../images/icon-out.png");
    background-position: 0px -740px ;
}
.new-menu ul.submenu li.active i.fa-zysqqs{
    background: url("../images/icon-active.png");
    background-position: 0px -740px ;
}
/*资源使用分析*/
.new-menu li i.fa-zysyfx{
    background: url("../images/icon-out.png");
    background-position: 0px -760px ;
}
.new-menu ul.submenu li.active i.fa-zysyfx{
    background: url("../images/icon-active.png");
    background-position: 0px -760px ;
}
/*独立KVM主机*/
.new-menu li i.fa-kvm{
    background: url("../images/icon-out.png");
    background-position: 0px -440px ;
}
.new-menu ul.submenu li.active i.fa-kvm{
    background: url("../images/icon-active.png");
    background-position: 0px -440px ;
}
/*计算*/
.new-menu li i.fa-js{
    background: url("../images/icon-out.png");
    background-position: 0px -380px ;
}
.new-menu ul.submenu li.active i.fa-js{
    background: url("../images/icon-active.png");
    background-position: 0px -380px ;
}
/*存储*/
.new-menu li i.fa-cc{
    background: url("../images/icon-out.png");
    background-position: 0px -400px ;
}
.new-menu ul.submenu li.active i.fa-cc{
    background: url("../images/icon-active.png");
    background-position: 0px -400px ;
}
/*网络*/
.new-menu li i.fa-wl{
    background: url("../images/icon-out.png");
    background-position: 0px -420px ;
}
.new-menu ul.submenu li.active i.fa-wl{
    background: url("../images/icon-active.png");
    background-position: 0px -420px ;
}
/*存量资源绑定*/
.new-menu li i.fa-clzybd{
    background: url("../images/icon-out.png");
    background-position: 0px -340px ;
}
.new-menu ul.submenu li.active i.fa-clzybd{
    background: url("../images/icon-active.png");
    background-position: 0px -340px ;
}
/*环境服务*/
.new-menu li i.fa-hjfw{
    background: url("../images/icon-out.png");
    background-position: 0px -780px ;
}
.new-menu ul.submenu li.active i.fa-hjfw{
    background: url("../images/icon-active.png");
    background-position: 0px -780px ;
}
/*计算方案*/
.new-menu li i.fa-jsfa{
    background: url("../images/icon-out.png");
    background-position: 0px -800px ;
}
.new-menu ul.submenu li.active i.fa-jsfa{
    background: url("../images/icon-active.png");
    background-position: 0px -800px ;
}
/*镜像管理*/
.new-menu li i.fa-jxgl{
    background: url("../images/icon-out.png");
    background-position: 0px -820px ;
}
.new-menu ul.submenu li.active i.fa-jxgl{
    background: url("../images/icon-active.png");
    background-position: 0px -820px ;
}
/*配额管理*/
.new-menu li i.fa-pegl{
    background: url("../images/icon-out.png");
    background-position: 0px -840px ;
}
.new-menu ul.submenu li.active i.fa-pegl{
    background: url("../images/icon-active.png");
    background-position: 0px -840px ;
}
/*到期时间*/
.new-menu li i.fa-dqsj{
    background: url("../images/icon-out.png");
    background-position: 0px -860px ;
}
.new-menu ul.submenu li.active i.fa-dqsj{
    background: url("../images/icon-active.png");
    background-position: 0px -860px ;
}
/*虚拟名称规则*/
.new-menu li i.fa-xnmcgz{
    background: url("../images/icon-out.png");
    background-position: 0px -880px ;
}
.new-menu ul.submenu li.active i.fa-xnmcgz{
    background: url("../images/icon-active.png");
    background-position: 0px -880px ;
}
/*自动安装规则*/
.new-menu li i.fa-zdazgz{
    background: url("../images/icon-out.png");
    background-position: 0px -900px ;
}
.new-menu ul.submenu li.active i.fa-zdazgz{
    background: url("../images/icon-active.png");
    background-position: 0px -900px ;
}
/*监控周期设定*/
.new-menu li i.fa-jkzqsd{
    background: url("../images/icon-out.png");
    background-position: 0px -920px ;
}
.new-menu ul.submenu li.active i.fa-jkzqsd{
    background: url("../images/icon-active.png");
    background-position: 0px -920px ;
}
/*配置管理*/
.new-menu li i.fa-pzgl{
    background: url("../images/icon-out.png");
    background-position: 0px -940px ;
}
.new-menu ul.submenu li.active i.fa-pzgl{
    background: url("../images/icon-active.png");
    background-position: 0px -940px ;
}
/*脚本管理*/
.new-menu li i.fa-jbgl{
    background: url("../images/icon-out.png");
    background-position: 0px -960px ;
}
.new-menu ul.submenu li.active i.fa-jbgl{
    background: url("../images/icon-active.png");
    background-position: 0px -960px ;
}
/*软件仓库*/
.new-menu li i.fa-rjck{
    background: url("../images/icon-out.png");
    background-position: 0px -980px ;
}
.new-menu ul.submenu li.active i.fa-rjck{
    background: url("../images/icon-active.png");
    background-position: 0px -980px ;
}
/*安装文档*/
.new-menu li i.fa-azwd{
    background: url("../images/icon-out.png");
    background-position: 0px -1000px ;
}
.new-menu ul.submenu li.active i.fa-azwd{
    background: url("../images/icon-active.png");
    background-position: 0px -1000px ;
}
.new-menu li i:before,.new-menu li.active i:before{
    content: "";
}
.new-menu li span{
    vertical-align: middle;

}
.new-menu li.active .menu-text {
    color: #ffffff;
}
/*此段暂时隐藏*/
/*.new-menu li:hover:before {
    display: none;
    background-color: #629cc9;
}
.new-menu li.active:before {
    display: none !important;
    background-color: #4d96c6;
}

.nav-list > li:after {
    display: none;
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629cc9;
}
.new-menu li:hover:after {
    display: block;
    background-color: #629cc9;
}
.new-menu li.active:after {
    display: block;
    background-color: #4d96c6;
}*/


/*控制台页面样式*/
body.control-list a.btn-success2,body.control-list .btn-success2:focus{
    background-color: #94a775 !important;
    border-color: #94a775;
}
body.control-list a.btn-success2:hover,
body.control-list a.btn-success2:active{
    background-color: #629b58 !important;
    border-color: #94a775;
}

body.control-list a.btn-warning,body.control-list .btn-warning:focus{
    background-color: #ab8b64 !important;
    border-color: #ab8b64;
}
body.control-list a.btn-warning:hover,
body.control-list a.btn-warning:active{
    background-color: #bfa255 !important;
    border-color: #ab8b64;
}

body.control-list a.btn-danger2,body.control-list .btn-danger2:focus{
    background-color: #c26e52 !important;
    border-color: #c26e52;
}
body.control-list a.btn-danger2:hover,
body.control-list a.btn-danger2:active{
    background-color: #ce5f49 !important;
    border-color: #c26e52;
}

/*工单查询页面样式*/
body.queryUserApplyWorkOrderPre {

}
body.queryUserApplyWorkOrderPre .table>thead>tr>th[class*=sort]:after {
    float: right;
    display: inline;
    content: "\f0dc";
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: 400;
    color: #555;
}
body.queryUserApplyWorkOrderPre .table>thead>tr>th.sorting_asc:after {
    content: "\f0de";
    top: 4px;
    color: #307ECC;
}
body.queryUserApplyWorkOrderPre .table>thead>tr>th.sorting_desc:after {
    content: "\f0dd";
    top: -6px;
    color: #307ECC;
}

/*顶栏LOGO字体*/
.new-navbar-font {
    width:300px;
    font-size: 18px;
    line-height: 40px;
}

.sidebar.menu-min .nav-list > li > a > .menu-icon {
    width: 20px;
    height: 20px;
}
.sidebar.menu-min .nav-list > li:hover > a > .menu-text, .sidebar.menu-min .nav-list > li.hover-show > a > .menu-text{
    display: none;
}
.sidebar.menu-min .nav-list > li > .submenu {
    margin-top: 0;
}

.ace-nav > li > a > .ace-icon {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    width: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
.ace-nav > li > a > .badge {
    position: relative;
    top: -16px;
    left: -12px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f86b4f;
    font-size: 12px;
}
.ace-nav > li > a{
    padding: 0px 0px 0 10px;
}
.ace-nav > li > a:hover{
    background-color: #579ec8 !important;
}

.ace-nav > li.grey > a {
    background-color: #0d508b;
}
.ace-nav > li.grey > a:focus {
    background-color: #0d508b;
}

.ace-nav  .icon-bell {
    width: 25px;
    height: 25px;
    background: url("../images/icon-notice.png");
}
.fa-task {
    width: 25px;
    height: 25px;
    background: url("../images/icon-task.png")
}
.ace-nav > li {
    border: 0;
}
.ace-nav > li.task > a {
    background-color: #2773b7;
}
.ace-nav > li.task > a:focus {
    background-color: #2773b7;
}
.ace-nav > li.open.task > a{
    background-color: #2773b7;
}
.ace-nav > li.light-blue > a {
    background-color: #0d508b;
}
.ace-nav > li > a > .fa-caret-down {
    color: #90afca;
    margin-left: 0;
}
.user-info {
    top:13px;
    margin-left: 10px;
    font-size: 14px;
}
.user-info small {
    display: none;
}
ul.new-menu li.active {
    border-top: 3px solid #4d96c6;
    border-bottom: 3px solid #4d96c6;
}
.x-body {
    font-family:"Microsoft YaHei";
}