<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmpOpServeMapper">
	<!--表名 -->
	<sql id="tableName">
		cmp_op_serve
	</sql>
	
	
	
	<!-- 字段 -->
	<sql id="fieldName">
		id,
		serviceType,
		operType,
		vm,
		vmMsg,
		middleware,
		middlewareMsg,
		appmsg,
		createTime,
		deploySoftId,
		breakdownTime,
		breakdownInfo,
		exceptSolveTime,
		exceptResult,
		breakdownLevel,
		partitionInfo,
		directory,
		expTime,
		vipNum
	</sql>
	
	<!-- 字段值 -->
	<sql id="fieldValue">
		#{id},
		#{serviceType},
		#{operType},
		#{vm},
		#{vmMsg},
		#{middleware},
		#{middlewareMsg},
		#{appmsg},
		#{createTime},
		#{deploySoftId},
		#{breakdownTime},
		#{breakdownInfo},
		#{exceptSolveTime},
		#{exceptResult},
		#{breakdownLevel},
		#{partitionInfo},
		#{directory},
		#{expTime},
		#{vipNum}
	</sql>
	
	<!-- 字段 -->
	<sql id="saveFieldName">
		id,
		serviceType,
		operType,
		vm,
		vmMsg,
		middleware,
		middlewareMsg,
		appmsg,
		deploySoftId,
		breakdownTime,
		breakdownInfo,
		exceptSolveTime,
		exceptResult,
		breakdownLevel,
		partitionInfo,
		directory,
		expTime,
		vipNum
	</sql>
	
	<sql id="saveFieldValue">
		#{id},
		#{serviceType},
		#{operType},
		#{vm},
		#{vmMsg},
		#{middleware},
		#{middlewareMsg},
		#{appmsg},
		#{deploySoftId},
		#{breakdownTime},
		#{breakdownInfo},
		#{exceptSolveTime},
		#{exceptResult},
		#{breakdownLevel},
		#{partitionInfo},
		#{directory},
		#{expTime},
		#{vipNum}
	</sql>
	
	<!-- 新增 -->
	<insert id="saveCmpOpServe"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.cmp.sid.CmpOpServe" >
		<selectKey keyProperty="id" order="BEFORE" resultType="String"> 
			select func_nextval('cmp_opserve')
		</selectKey>
		insert into <include refid="tableName"/> (
			<include refid="saveFieldName"/>
		) values (
			<include refid="saveFieldValue"/>
		)
	</insert>
	
	<select id="findByOrderNo" resultType="com.cmp.sid.CmpOpServe" parameterType="String">
		select * from  <include refid="tableName"/> where id = #{id}
	</select>
	
</mapper>