<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BiSoftwareBillMapper">
	
	<!--表名 -->
	<sql id="viewName">
		v_bi_soft_bill
	</sql>
		<sql id="tableName">
		bi_software_bill
	</sql>
	
	<sql id="Field_main">
	    DEPARTMENT_ID,
        DEPARTMENT_NAME,
        project_id,
        project_name,
        vm_id,
        vm_name,
        cpu,
        memory,
        datadisk,
        type,
        user,
        date,
		soft_name,
		soft_version,
		soft_type
	</sql>
	
	<sql id="Field_time">
		gmt_create
	</sql>
	
	<!-- 字段值 -->
	<sql id="Field">
	    id,
		<include refid="Field_main"></include>,<include refid="Field_time"></include>
	</sql>
		
	<!-- 字段值 -->
	<sql id="FieldValue_main">	
		#{DEPARTMENT_ID},
        #{DEPARTMENT_NAME},
        #{project_id},
        #{project_name},
        #{vm_id},
        #{vm_name},
        #{cpu},
        #{memory},
        #{datadisk},
        #{type},
        #{user},
        #{date},
		#{soft_name},
		#{soft_version},
		#{soft_type}
	</sql>
	
	<sql id="FieldValue_time">	
		#{gmt_create}
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
	    id,
		<include refid="FieldValue_main"></include>,<include refid="FieldValue_time"></include>
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field_main"></include>
		) values (
	<include refid="FieldValue_main"></include>
		)
	</insert>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="date!= null and date != ''"><!-- 按时间检索-->
			and
				(
					date LIKE CONCAT(#{date},'%')
				
				
				)
		</if>
		order by gmt_create desc
	</select>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			date = #{date}
	</delete>
	
	<!-- 查询视图v_bi_soft_bill的数据 -->
	<select id="listVSoftwareBill" parameterType="pd" resultType="pd">
		select DEPARTMENT_ID,
        	DEPARTMENT_NAME,
        	project_id,
        	project_name,
        	vm_id,
        	vm_name,
        	cpu,
        	memory,
        	datadisk,
        	type,
        	user,
        	soft_type,
        	soft_name,
        	soft_version
		from 
		<include refid="viewName"></include>
	</select>
	
	<!-- 软件台帐查询列表 -->
	<select id="listAllSoftwareBIData" parameterType="pd" resultType="pd">
		select
			id,
			DEPARTMENT_ID,
	        DEPARTMENT_NAME,
	        project_id,
	        project_name,
	        vm_id,
	        vm_name,
	        cpu,
	        memory,
	        datadisk,
	        type,
	        user,
	        date,
			soft_name,
			soft_version,
			soft_type,
			gmt_create
		from 
		<include refid="tableName"></include>
		where date=#{date}
		<if test="DEPARTMENT_ID!= null and DEPARTMENT_ID != ''">
			and DEPARTMENT_ID = #{DEPARTMENT_ID}
		</if>
		<if test="project_id!= null and project_id != ''">
			and project_id = #{project_id}
		</if>
		<if test="USERNAME!= null and USERNAME != ''">
			and user = #{USERNAME}
		</if>
		<if test="soft_type!= null and soft_typeE != ''">
			and soft_type = #{soft_type}
		</if>
	</select>
	
</mapper>