<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DatacenternetworkMapper">
	
	<!--表名 -->
	<sql id="tableName">
		t_datacenter_network
	</sql>
	<sql id="dctableName">
		t_datacenter
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		<include refid="Field_main"></include>,<include refid="Field_time"></include>
	</sql>
	
	<sql id="Field_main">
	    id,	
	    name,
		datacenter_id,
		cpf_id,
		ippool,
		type,
		mask,
		gateway,
		dns1,
		dns2,
		totalip,
		freeip,
		uuid
	</sql>
	
	<sql id="Field_time">
		gmt_create,
		gmt_modified
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		<include refid="FieldValue_main"></include>,<include refid="FieldValue_time"></include>
	</sql>
		
	<!-- 字段值 -->
	<sql id="FieldValue_main">	
	    #{id},
	    #{name},
		#{datacenter_id},
		#{cpf_id},
		#{ippool},
		#{type},
		#{mask},
		#{gateway},
		#{dns1},
		#{dns2},
		#{totalip},
		#{freeip},
		#{uuid}
	</sql>
	
	<sql id="FieldValue_time">	
		#{gmt_create},
		#{gmt_modified}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field_main"></include>
		) values (
	<include refid="FieldValue_main"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		    name = #{name},
			datacenter_id = #{datacenter_id},
			ippool = #{ippool},
			type = #{type},
			mask = #{mask},
			gateway = #{gateway},
			dns1 = #{dns1},
			dns2 = #{dns2},
			totalip = #{totalip},
			freeip = #{freeip},
			uuid = #{uuid}
		 where 
		    id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
		<!-- 通过ID获取数据 -->
	<select id="findByDatacenterId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			datacenter_id = #{datacenter_id}
	</select>
	
	<!-- 脚本列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd" >
		select  s.id,
		        s.name,
				s.datacenter_id,
				s.ippool,
				s.gmt_modified,
				s.gmt_create,
				s.type,
				s.mask,
				s.gateway,
				s.dns1,
				s.dns2,
				s.totalip,
				s.freeip,
				s.uuid,
				c.name as datacenter_name
		from <include refid="tableName"></include> s, <include refid="dctableName"></include> c
		where s.datacenter_id=c.id
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					s.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.item!=null and pd.item!=''"><!-- 根据ID过滤 -->
			and id in ${pd.item}
		</if>
		<if test="pd.type != null and pd.type != ''"><!-- 按云平台类型检索 -->
			and s.type = #{pd.type} 
		</if>
		order by s.gmt_modified desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select dcn.id,
		       dcn.name,
		       dcn.datacenter_id,
		       dcn.ippool,
		       dcn.gmt_create,
		       dcn.gmt_modified,
		       dcn.uuid,
		       dc.name as dc_name
		from 
		<include refid="tableName"></include> dcn LEFT JOIN <include refid="dctableName"></include> dc
		on dcn.datacenter_id=dc.id
		where 1 = 1
		<if test="id != null and id != ''">
			and dcn.cpf_id=#{id}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>