<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostmachineMapper">
	
	<!--表名 -->
	<sql id="tableName">
		t_hostmachine
	</sql>  
	<!--表名 -->
	<sql id="clustertableName">
		t_cluster
	</sql>
	<!--表名 -->
	<sql id="virtualTableName">
		t_virtualmachine
	</sql> 
	
	<!-- 字段 -->
	<sql id="Field">
		<include refid="Field_main"></include>,<include refid="Field_time"></include>
	</sql>
	
	<sql id="Field_main">
	    id,	
		name,
		type,
		status,
		ip,
		cpu,
		memory,
		localdisk,
		devicenum,
		duedate,
		account,
		password_ssh,
		cluster_id,
		port,
		cpf_id,
		datacenter_id,
		uuid,
		environment_id
	</sql>
	
	<sql id="Field_time">
		gmt_create,
		gmt_modified
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		<include refid="FieldValue_main"></include>,<include refid="FieldValue_time"></include>
	</sql>
		
	<!-- 字段值 -->
	<sql id="FieldValue_main">	
	    #{id},
		#{name},
		#{type},
		#{status},
		#{ip},
		#{cpu},
		#{memory},
		#{localdisk},
		#{devicenum},
		#{duedate},
		#{account},
		#{password_ssh},
		#{cluster_id},
		#{port},
		#{cpf_id},
		#{datacenter_id},
		#{uuid},
		#{environment_id}
	</sql>
	
	<sql id="FieldValue_time">	
		#{gmt_create},
		#{gmt_modified}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field_main"></include>
		) values (
	<include refid="FieldValue_main"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			name = #{name},
			type = #{type},
			status = #{status},
			ip = #{ip},
			cpu = #{cpu},
			memory = #{memory},
			localdisk = #{localdisk},
			devicenum = #{devicenum},
			duedate = #{duedate},
			account = #{account},
			password_ssh = #{password_ssh},
			cluster_id = #{cluster_id},
			port = #{port},
			cpf_id= #{cpf_id},
		    datacenter_id = #{datacenter_id},
		    uuid = #{uuid},
		    environment_id = #{environment_id}
		 where 
		    id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd" >
		select  s.id,
				s.name,
				s.type,
				s.status,
				s.ip,
				s.cpu,
				s.memory,
				s.localdisk,
				s.devicenum,
				s.duedate,
				s.account,
				s.password_ssh,
				s.gmt_create,
				s.gmt_modified,
				s.cluster_id,
				s.port,
				s.cpf_id,
				s.datacenter_id,
				s.uuid,
				s.environment_id,
				c.name AS cluster_name
		from <include refid="tableName"></include> s,<include refid="clustertableName"></include> c
		where s.cluster_id=c.id
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					s.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.item!=null and pd.item!=''"><!-- 根据ID过滤 -->
			and id in ${pd.item}
		</if>
		<if test="pd.type != null and pd.type != ''"><!-- 按云平台类型检索 -->
			and s.type = #{pd.type} 
		</if>
		order by s.gmt_modified desc
	</select>
	
	<!-- 列表 -->
	<select id="datalistPageKVM" parameterType="page" resultType="pd" >
		select  s.id,
				s.name,
				s.type,
				s.status,
				s.ip,
				s.cpu,
				s.memory,
				s.localdisk,
				s.devicenum,
				s.duedate,
				s.account,
				s.password_ssh,
				s.gmt_create,
				s.gmt_modified,
				s.cluster_id,
				s.cpf_id,
				s.datacenter_id,
				s.port,
				s.uuid
		from <include refid="tableName"></include> s
		where 1 = 1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					s.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.item!=null and pd.item!=''"><!-- 根据ID过滤 -->
			and id in ${pd.item}
		</if>
		<if test="pd.type != null and pd.type != ''"><!-- 按云平台类型检索 -->
			and s.type = #{pd.type} 
		</if>
		order by s.gmt_modified desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select s.id,
				s.name,
				s.type,
				s.status,
				s.ip,
				s.cpu,
				s.memory,
				s.localdisk,
				s.devicenum,
				s.duedate,
				s.account,
				s.password_ssh,
				s.gmt_create,
				s.gmt_modified,
				s.cluster_id,
				s.cpf_id,
				s.datacenter_id,
				s.port,
				s.uuid,
				s.environment_id,
				cl.name as cluster_name
		from 
		<include refid="tableName"></include> s LEFT JOIN <include refid="clustertableName"></include> cl
		on s.cluster_id=cl.id
		where 1 = 1
		<if test="id != null and id != ''">
			and s.cpf_id=#{id}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 查询虚拟机列表 -->
	<select id="datalistPageVirtual" parameterType="page" resultType="pd" >
		select  *
		from <include refid="virtualTableName"></include> 
		where hostmachine_id=#{pd.hostmachine_id} 
		order by gmt_modified desc
	</select>

	<select id="listAllHostId" resultType="pd">
		select t.id, t.name from t_hostmachine t where t.`type`='kvm'
	</select>
	
</mapper>