<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StorageSyncMapper">
	
	<!--表名 -->
	<sql id="tableName">
		t_storage_sync
	</sql>
	<sql id="dcTableName">
		t_datacenter_sync
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		<include refid="Field_main"></include>,<include refid="Field_time"></include>
	</sql>
	
	<sql id="Field_main">
	    id,	
		name,
		type,
		allspace,
		freespace,
		threshold,
		datacenter_id,
		cpf_id,
		version
	</sql>
	
	<sql id="Field_time">
		gmt_create,
		gmt_modified
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		<include refid="FieldValue_main"></include>,<include refid="FieldValue_time"></include>
	</sql>
		
	<!-- 字段值 -->
	<sql id="FieldValue_main">	
	    #{id},	
		#{name},
		#{type},
		#{allspace},
		#{freespace},
		#{threshold},
		#{datacenter_id},
		#{cpf_id},
		#{version}
	</sql>
	
	<sql id="FieldValue_time">	
		#{gmt_create},
		#{gmt_modified}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field_main"></include>
		) values (
	<include refid="FieldValue_main"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			id = #{id}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			name = #{name},
			type = #{type},
			allspace = #{allspace},
			freespace = #{freespace},
			threshold = #{threshold},
			datacenter_id = #{datacenter_id},
			cpf_id = #{cpf_id},
			version = #{version}
		 where 
		    id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			id = #{id}
	</select>
	
	<!-- 脚本列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd" >
		select  s.id,
				s.name,
				s.type,
				s.allspace,
				s.freespace,
				s.threshold,
				s.gmt_create,
				s.gmt_modified,
				s.datacenter_id,
				s.cpf_id,
				s.version
				d.name as datacenter_name
		from <include refid="tableName"></include> s,<include refid="dcTableName"></include> d
		where s.datacenter_id = d.id
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					s.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.item!=null and pd.item!=''"><!-- 根据ID过滤 -->
			and id in ${pd.item}
		</if>
		<if test="pd.type != null and pd.type != ''"><!-- 按云平台类型检索 -->
			and s.type = #{pd.type} 
		</if>
		order by s.gmt_modified desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where cpf_id=#{id}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>