<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VirtualBindingMapper">
	
	<!--表名 -->
	<sql id="virtualTableName">
		t_virtualmachine
	</sql>  
	<sql id="virtualSyncTableName">
		t_virtualmachine_sync
	</sql>
	<!--表名 -->
	<sql id="workorderTableName">
		t_workorder
	</sql>
	<!--表名 -->
	<sql id="hostmachineTableName">
		t_hostmachine
	</sql>
	<!--表名 -->
	<sql id="clusterTableName">
		t_cluster
	</sql>
	<!--表名 -->
	<sql id="cloudplatformTableName">
		t_cloudplatform
	</sql>
	
	<!-- 查询已分配用户的虚拟机 -->
	<select id="datalistAlreadyBinded" parameterType="pd" resultType="pd">
		SELECT  a.appNo,
				a.user,
				a.project_id,
				a.uuid
		from <include refid="virtualTableName"></include> a
		WHERE a.cpf_id=#{cpf_id}
	</select>
		
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT  a.id,
				a.name,
				a.status,
				a.ip
		from <include refid="virtualSyncTableName"></include> a, <include refid="cloudplatformTableName"></include> b
		WHERE a.cpf_id=b.id
		AND a.user IS NULL AND a.project_id IS NULL
		AND b.environment_id=#{pd.environment_id}
		<if test="pd.type!= null and pd.type != ''">
		AND a.type=#{pd.type}
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					b.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		union
		SELECT  a.id,
				a.name,
				a.status,
				a.ip
		from <include refid="virtualSyncTableName"></include> a, <include refid="hostmachineTableName"></include> b
		WHERE a.hostmachine_id=b.id
		AND a.user IS NULL AND a.project_id IS NULL
		AND b.environment_id=#{pd.environment_id}
		<if test="pd.type!= null and pd.type != ''">
		AND a.type=#{pd.type}
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					b.name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
	</select>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="virtualTableName"></include>
		set 
			project_id = #{project_id},
			user = #{user}
		where 
			id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 查询临时虚拟机数据 -->
	<select id="datalistByIds" parameterType="String" resultType="pd">
		select * from 
		<include refid="virtualSyncTableName"></include>
		where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>

</mapper>